<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Roofing Excellence and Building Services</title>
    <meta name="description" content="Roofing London Home Counties"/>

    <link rel="icon" href="/images/favicon.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/lightbox.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tajawal"/>


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div>
    <div id="home">
<div class="header starter-template">
    <div class="content gallery">
        <div class="row">

            <div class="col-md-8 left">
                <img class="img-responsive" src="/images/header.png"/>
            </div>

            <div class="col-md-4 right">
                <div class="phone"><img class="img-responsive" src="/images/home.png" height="40px" width="40px"/><span>01895 762945</span></div>

                <div class="phone"><span><img class="img-responsive" src="/images/mobile.png" height="40px" width="40px"/>07853 760358</span></div>

                <div class="phone"><span><img class="img-responsive" src="/images/mobile.png" height="40px" width="40px"/>07882 500432</span></div>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="nav-home" class="active"><a href="#home">Home</a></li>
                <li id="nav-about"><a href="#about">About</a></li>
                <li id="nav-gallery"><a href="#gallery">Gallery</a></li>
                <li id="nav-services"><a href="#services">Services</a></li>
                <li id="nav-contact"><a href="#contact">Contact</a></li>
                <li id="nav-reviews"><a href="#reviews">Reviews</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="background-image background-image-1">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/image1.jpg"/>
            </div>

            <div class="item">
                <img src="/images/image2.jpg"/>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control background-image-1" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control background-image-1" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
    </div>


<div class="background-image background-image-2">
        <div id="about" class="section">
            <div class="starter-template">
                <h2>Roofing Excellence and Building Services</h2>
                <div class="content about">
                    Your home is where most of our time is spent and memories are made with family.  So renovating or conversions you undertake should be completed to the highest standards.  Here at Roofing Excellence and building services we make your dreams come true.  Whether it’s a requirement for additional space for a growing family or your just after a makeover and freshen up a tired house.
                        <br /><br />
                        We specialise in loft conversions from design, planning to implementation.  All work is signed off and approved to building regulations.
                        <br /><br />
                        We can fully manage your requirements from installations of windows, doors, kitchens, bathrooms, flooring and we can accommodate personal requirements catered for each individuals taste.
                        <br /><br />
                        All project agreements will be signed off to the customer’s specification and delivered on an agreed date.
                        <br /><br />
                        We are renowned for our attention to detail, quality of work and professional attitude catering for all budgets. Our rates are competitive and our work is guaranteed.
                        <br />

                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Free quotes</li>
                                <li>Planning</li>
                                <li>Design</li>
                                <li>Flexibility</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul>
                                <li>Attention to detail</li>
                                <li>Competitive pricing</li>
                                <li>Skilled tradesmen</li>
                                <li>Warranty</li>
                            </ul>
                        </div>
                    </div>

                </div>

        </div>

    </div>
</div>

<div class="background-image background-image-1">
    <div id="gallery" class="section">
        <div class="starter-template">
            <h2>Gallery</h2>
            <div class="content gallery">
                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-1.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-1.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-2.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-2.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-3.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-3.jpg"/>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-4.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-4.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-5.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-5.jpg"/>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a data-lightbox="gallery" href="/images/gallery-image-6.jpg" class="thumbnail">
                            <img src="/images/gallery-thumbnail-6.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-image background-image-2">
        <div id="services" class="section">
            <div class="starter-template">
                <h2>An Expert Experience </h2>
                <div class="content services">
                    We are experienced in the building services, including design and planning - ranging from rear or side extensions under permitted development or full planning.
                        Entire build will be managed to minimise the stress on our clients.
                        Together we will work to ensure we achieve the result you desire and deserve.
                    <br /><br />
                    We have expertise in:
                    <br /><br />
                    <p>> New builds</p>
                    <hr/>
                    <p>> Garage and attic conversions</p>
                    <hr/>
                    <p>> Landscaping and driveways</p>
                    <hr/>
                    <p>> House extensions</p>
                    <hr/>
                </div>
            </div>
        </div>
</div>

<div class="background-image background-image-1">
    <div id="contact" class="section">
        <div class="starter-template">
            <h2>Contact us</h2>
            <div class="content contact">
                <p>Roofing Excellence and Building Services are always happy to discuss your dream project.
                    <br /><br />
                    Call us today on:<br /><br />
                    Home: 01895 762945<br />
                    Mobile: 07853 760358<br />
                    Mobile: 07882 500432<br /><br />
                    Email: roofingexcellence_and_buildingservices@hotmail.com<br /><br />
                    Alternatively, fill in the form below with your enquiry and contact details, and one of our team will get in touch.
                </p>

                <form id="contact-us-form" action="/contact" method="post">
                    <input type="hidden" name="token" th:value="${session.contactToken}"/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Contact Number: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="phone" name="phone"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Email address: **</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="email" name="email"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Subject: *</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="subject" name="subject"/>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Message: *</label>
                        </div>
                        <div class="col-md-8">
                            <textarea id="message" name="message" rows="6"></textarea>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-4">
                            <input id="submit" type="submit" value="Submit"/>
                            <label><img id="contact-loader" src="images/loading.gif"/></label>
                        </div>
                    </div>

                    <br/>
                    <p class="note">* Required field</p>
                    <p class="note">** Please provide at least one contact method (phone or email) to ensure we can contact
                        you.</p>

                </form>

                <div id="contact-result"></div>

            </div>
        </div>
    </div>
</div>

<div class="background-image background-image-2">
    <!--div class="section-background"-->
        <div id="reviews" class="section">
            <div class="starter-template">
                <h2>Reviews</h2>
                <div class="content">

                    <div>"Fanstastic job skimming artexed ceilings and then decorating them after. Quick, Professional and very
                        pleasant, highly recommended."
                    </div>
                    <div class="review-author">Jon beddard, Ashford kent.</div>
                    <br/>
                    <div>"Very good job, very clean and friendly. Will use again in the future."</div>
                    <div class="review-author">Sarah eastwood, Bickley kent.</div>
                    <br/>
                    <div>"Hard working, trustworthy, quick and clean job. Very pleased with result. Thanks ross :)"</div>
                    <div class="review-author">Maria hales, Ashford kent.</div>
                    <br/>

                    <form id="review-form" action="/review" method="post">

                        <input type="hidden" name="token" th:value="${session.reviewToken}"/>

                        <h3 class="submit-review">Submit a testimonial</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Name: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="name" name="name"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Town: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="town" name="town"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>County: *</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="county" name="county"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label>Testimonial: *</label>
                            </div>
                            <div class="col-md-8">
                                <textarea id="testimonial" name="testimonial" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="Submit"/>
                                <label><img id="review-loader" src="images/loading.gif"/></label>
                            </div>
                        </div>

                        <br/>
                        <p class="note">* Required field</p>

                    </form>

                    <div id="review-result"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/js/common.js"></script>
<script src="/js/lightbox.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/form-validation/core.js"></script>
<script src="/js/contact-us.js"></script>
<script src="/js/review-us.js"></script>

</body>

</html>